// ACTIONS
.action-container {
    
}


// up-down-vote
.up-down-vote-container {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .upvote {
        width: 0px;
        height: 0px;
        border-width: 0 10px 17px 10px;
        border-style: solid;
        border-color: transparent transparent $light-grey transparent;
        cursor: pointer;

        &.voted {
            border-color: transparent transparent $upvote-green transparent;
        }
    }
    .dot {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $dark-grey;
    }
    .downvote {
        width: 0px;
        height: 0px;
        border-width: 17px 10px 0px 10px;
        border-style: solid;
        border-color: $light-grey transparent transparent transparent;
        cursor: pointer;

        &.voted {
            border-color: $downvote-blue transparent transparent transparent;
        }
    }
}

// poll - 4 options

// single option - attendance?