.tri-form-input-container {

    position: relative;
    z-index: 1;

    & + .tri-form-input-container {
        margin-top: 10px;
    }

    .tri-form-label {

    }
    .tri-form-input {
        width: 100%;
        max-width: 100%;
    }
}