.forum-post {
    text-align: left;

    & + .forum-post {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid $dark-grey;
    }

    .actions-and-text {
        display: flex;

        .actions {
            flex-basis: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            
        }
    }

    .title {
        margin: 0px;
        cursor: pointer;
    }
    .author {
        color: $dark-grey;
    }
    .content {
        margin: 0px;
    }
}