.forum-new-post-page {
    margin: 0px 10px;
        
    .form-container {
        background-color: $light-offwhite;
        // border: 1px solid $light-grey;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }
}