.forum-page {
    margin: 0px 10px;

    .forum-posts {
        border-radius: 5px;
        background-color: $light-offwhite;
        padding: 5px;
        text-align: center;
    }

    .loading-icon {
        height: 50px;
        width: 50px;
    }
}