.members-page {
    margin: 0px 10px;

    .brothers-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;

        @media screen and (max-width: $break-medium) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: $break-small) {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10px;
        }
    }
}