body {
  margin: 0px;
}

.sample-app-enter {
  opacity: 0.01;
}
.sample-app-enter.sample-app-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.sample-app-leave {
  opacity: 1;
}
.sample-app-leave.sample-app-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.sample-app-appear {
  opacity: 0.01;
}
.sample-app-appear.sample-app-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in
}