$offwhite: #f3e9df;
$light-offwhite: #eee8e3;
$dark-grey: #777777;
$tri-grey: #5a6770;
$tri-grey-2: #7f8b94;
$grey: #999999;
$light-grey: #bbbbbb;
$link-button-color: #222244;
$tri-red: rgb(156, 32, 32);

// Notification colors
$notification-info: rgb(122, 196, 116);
$notification-warn: rgb(204, 197, 94);
$notification-danger: rgb(219, 141, 141);

$notification-shadow: 0px 2px 4px $dark-grey;

$shadow-basic: 2px 2px 3px rgba(50, 50, 50, 0.7);

// ForumPost colors
$downvote-blue: #6f79d8;
$upvote-green: #65ca68;


// should probably move these to another file
$break-small: 480px;